// 全局样式自定义配置

//字体
$fontSize14 = 1.4rem
$fontSize16 = 1.6rem
$fontSize20 = 2.0rem
$fontSize24 = 2.4rem
$fontSize30 = 3rem
$fontSize72 = 7.2rem

//字体粗细
$fontWeight300 = 300
$fontWeight600 = 600
$fontWeight900 = 900

//颜色
$bgColor = #f66
$titleColor = #000
$titleDescription = #f66
$textColor = #ff3
$contentColor = #f51
$linkColor = #1ff

//字体颜色
$fontColor = rgba(30,47,56,1)
$fontColor45 = rgba(30,47,56,0.45)
$navigationBgColor = rgba(5,54,79,1)
$navigationBgColor1 = rgba(5,54,79,0.1)
$navigationImgBgColor = rgba(0, 65, 109, 1)
$bgColor = rgba(3,40,59,1)
$iconColor = rgba(6,63,111,1)
$buttonColor = rgba(54,158,226,1)
$whiteColor = rgba(255,255,255,1)
$whiteColor25 = rgba(255,255,255,0.25)
$whiteColor75 = rgba(255,255,255,0.75)
$grayColor = rgba(210,210,210,1)
$yellowColor = rgba(247,160,43,1)

// 默认主题样式配置

// 颜色
$accentColor = rgba(30,47,56,1)
$textColor = #fff //文字颜色
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 872px
$MQMobileNarrow = 419px
