// 全局样式自定义配置

//字体
$fontSize12 = 1.2rem
$fontSize13 = 1.3rem
$fontSize14 = 1.4rem
$fontSize16 = 1.6rem
$fontSize20 = 2.0rem

//颜色
$bgColor = #f66
$titleColor = #000
$titleDescription = #f66
$textColor = #ff3
$contentColor = #f51
$linkColor = #1ff


// 默认主题样式配置

// 颜色
$accentColor = #3eaf7c
$textColor = #fff //文字颜色
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
